@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@300&family=Playfair+Display:wght@800&family=Poppins:ital,wght@0,200;0,400;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@200&family=Playfair+Display:wght@800&family=Poppins:ital,wght@0,200;0,400;0,800;1,200&family=Raleway:wght@200&display=swap');
 

body{
    height: 390vh;
    width: 193.vh;
    background-image: linear-gradient(180deg,#e0aaff,#3c096c);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2f3e46;
   
} 

.logo{
    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
} 
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
    font-family: 'Raleway', sans-serif;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(216, 216, 216);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}



h1{
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  font-weight: 1200;
  text-align: left;
  padding: 3rem;
  color: #000a26;
  text-shadow: 2px 2px #1f1f1f;
    
}

p{
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 1rem 0;
  margin-top: -2rem;
  padding-left: 3.2rem;
  padding-right: 4rem;
  text-align: center;
  text-align: justify;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-decoration: underline;
  font-weight: 1200;
  text-align: left;
  padding: 3rem;
  color: #e2e2e2;
  text-shadow: 2px 2px #1f1f1f;
    
}

p{
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 1rem 0;
  margin-top: -2rem;
  padding-left: 3.2rem;
  padding-right: 4rem;
  text-align: center;
  text-align: justify;

}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-decoration: underline;
  font-weight: 1200;
  text-align: left;
  padding: 3rem;
  color: #e2e2e2;
  text-shadow: 2px 2px #1f1f1f;
    
}
.poza2{
    border-radius: 8px;
    width: 25%;
    height: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

h5{
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  font-weight: 1200;
  text-align: center;
  padding: 3rem;
  color: #d7d7d7;
  text-shadow: 2px 2px #1f1f1f;
  text-decoration: underline;
}

.wrapper{
 
  padding: 2px;
  max-width: 10000px;
  width: 95%;
  margin: 10px auto;
  border-radius: 0.4rem;
}

.columns{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.column{
  flex:1;
  margin: 5px;
  padding:10px;
  background: linear-gradient(180deg,#242424,#000000);
  border-radius: 0.4rem;
}

h4{
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 1600;
  margin: 1rem 0;
  padding-left: 3.2rem;
  padding-right: 4rem;
  text-align: center;
  text-align: justify;
  color:aliceblue;
  
}

img{
    border-radius: 8px;
    width: 80%;
    height: 1000px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

